frontend/node_modules/
frontend/.vscode/
frontend/.DS_Store
frontend/dist
frontend/dist-ssr
frontend/*.local
frontend/.env
frontend/.nitro
frontend/.tanstack
frontend/.wrangler
frontend/.output
frontend/.vinxi
frontend/__unconfig*
frontend/todos.json

api/node_modules/
api/yarn.lock
api//src/generated
api//src/dist
api//prisma/migrations
api/.env
api/.env.dev
